.header {
    justify-content: center;
    height: 70px;
    background-color: black;
}

.buttonPyA {
    background-color: transparent;
    border: 3px solid rgb(33, 150, 243);
    border-radius: 25px;
    padding: 0;
    margin-right: 25%;
}

.gap20 {
    gap: 50px;
}