.bSizing {
    box-sizing: border-box;
    margin: 24px;
}

.boxShadowV {
    box-shadow: 0 3px 3px 3px  rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: black;    
}

.backgroundVB {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.vGap24 {
    gap: 24px;
}

.aScenter {
    align-self: center;
}