.jRight {
    justify-content: right;
    bottom: 3%;
    right: 1%;
}

.boxIcon {
	background-color: black;
	border: 3px solid white;
	border-radius: 100%;
	box-shadow: 0 2px 2px 2px  rgba(0, 0, 0, 0.4);
}