.tWhite {
    color: white;
}

.paddingBox {
    padding: 100px 0 56px 0;
}

.gap50 {
    gap: 50px;
}

.buttonCreate {
    background: rgb(33, 150, 243);
    border: 3px solid rgb(33, 150, 243);
    margin-right: 32px;
}

.buttonAdmin {
    border: 3px solid white;
}