*{
    margin: 0;
    text-decoration: none;
}

.max80 {
    max-width: 50%;
}

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.h100 {
    height: 100%;
}

.h50 {
    height: 50%;
}

.h40 {
    height: 40%;
}

.h30 {
    height: 30%;
}

.h20 {
    height: 20%;
}

.w50 {
    width: 50%;
}

.h50 {
    height: 50%;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.jSpace {
    justify-content: space-between;
}

.jRight {
    justify-content: right;
}

.jCenter {
    justify-content: center;
}

.aCenter {
    align-items: center;
}

.colum {
    flex-direction: column;
}

.h60 {
    height: 60%;
}

.button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
}

.p16 {
    padding: 16px;
}

.oHidden {
    overflow: hidden;
}

.gap50 {
    gap: 50px;
}