

.buttonBlue {
    background: rgb(33, 150, 243);
    border: 3px solid rgb(33, 150, 243);
    margin-right: 32px;
}

.paddingBF {
    padding: 150px 100px;
}

.gap50{
    gap: 50px;
}

.border {
    border-radius: 8px;
}