.gap50 {
    gap: 50px;
}

.p50 {
    padding: 50px;
}

.buttonUnityPro {
    background: rgb(33, 150, 243);
    border: 3px solid rgb(33, 150, 243);
    margin-right: 32px;
}

.buttonUnityEnterprise {
    border: 3px solid rgb(33, 150, 243);
    color: rgb(33, 150, 243);
}
